fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
langdetect
transformers
torch
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers 
unstructured 
python-magic
libmagic 
lxml 
nltk
huggingface-hub
tqdm